<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../../lib/vue2.js"></script>
    <script src="../../lib/axios.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

    <style>
        li {
            overflow: hidden;
            list-style: none;
            padding: 10px;
        }

        li img {
            float: left;
            width: 100px;
        }
    </style>
</head>

<body>
    <div id="box">
        <div style="background: yellow;">1111</div>
        <navbar myname="film"></navbar>
        <navbar myname="cinema"></navbar>
        <!-- <navbar></navbar> -->
        <!-- <tabbar></tabbar> -->
        <!-- <kerwin-child></kerwin-child> -->
    </div>
    <script>
        Vue.component('navbar', {
            // get 'myname' attributes.
            props: {
                myname: {
                    type: String,
                    default: ""
                },
                myright: {
                    type: Boolean,
                    default: true
                }
            },
            template: `<section style="background:red;border:5px solid">
                <button @click="handleLeft">left</button>
                <span>maizuo-{{myname}}-----{{myright}}</span>
                <button @click="handleRight" v-show="myright">right</button>
                </section>`,
            methods: {
                handleLeft() {
                    console.log('left')
                },
                handleRight() {
                    console.log('right')
                }
            },
            computed: {},
            watch: {},
            data() {
                return {
                    myname2: 11111
                }
            },
            components: {
                'kerwinChild': {
                    template: `
                        <div>kerwinChild {{myname}}</div>
                    `,
                    data() {
                        return {
                            myname: 'kerwinChild data'
                        }
                    }
                }
            }
        })

        Vue.component('child', {
            template: `
            <div style="background:yellow">child</div>
            `
        })

        var vm = new Vue({
            el: '#box',
            data: {
                datalist: []
            },
            methods: {
                handleAjax() {
                    axios.get('../../json/maizuo.json').then(res => {
                        console.log(res.data.data.films)
                        this.datalist = res.data.data.films
                    })
                }
            },
            filters: {
                imgFilter: function (url) {
                    return url
                }
            }
        })


    </script>
</body>

</html>