<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="../../lib/vue2.js"></script>
  <script src="../../lib/axios.js"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/axios@1.1.2/dist/axios.min.js"></script> -->

  <style>

  </style>
</head>

<body>
  <div id="box">
    <child>


      <!-- <div slot="a">111111111</div> -->
      <div slot="b">222222222</div>
      <div slot="c">333333333</div>
      <div slot="a">444444444</div>
      <div>5555555555</div>
    </child>
    <navbar>

      <template v-slot:a>
        <div>kfjoiwjeifwjfij</div>
      </template>
      <template #b>
        <div>bbbbbbbbbbbbbbb</div>
      </template>

      <template #left>
        <div>lefttttttttttttttt</div>
      </template>
      <template #right>
        <div>righttttttttttttttttt</div>
      </template>

    </navbar>
  </div>
  <script type="text/javascript">

    Vue.component('navbar', {
      template: `
        <div>
          
          <slot name="a"></slot>
          <slot name="b"></slot>
          <slot name="left"></slot>
          <slot name="right"></slot>
        </div>
      `
    })
    // single slot
    /// slot with specific name
    Vue.component('child', {
      template: `
        <div >
          child
          <slot ></slot>
          <slot name="a"></slot>
          <slot name="b"></slot>
          <slot name="c"></slot>
        </div>
      `
    })


    var vm = new Vue({
      el: '#box'
    })
  </script>
</body>

</html>