<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->

</head>

<body>
    <div id="box">
        <!-- <input type="text" v-on:input="handleInput()" v-model="mytext"> -->

        <!-- <ul> -->
        <!-- <li v-for="(item, index) of datalist">{{item}}=={{index}}</li> -->
        <!-- </ul> -->
        <!-- <ul> -->
        <!-- <li v-for="(value,key) in obj2">{{key}}==={{value}}</li> -->
        <!-- </ul> -->
        <!-- <ul> -->
        <!-- <div v-for="item in 10 ">{{item}}</div> -->
        <!-- </ul> -->
        <input type="text" v-model="mytext">
        <ul>
            <li v-for="data in test()" :key="data">
                {{data}}
            </li>
        </ul>

    </div>
    <script>


        var vm = new Vue({
            el: "#box",
            data: {
                mytext: "",
                // data() {
                // return {
                datalist: ['111', '222', '333', '444', '555'],
                // originList: ['111', '222', '333', '444', '555'],
                // obj2: {
                //     name: 'kerwin',
                //     location: 'shanghai'
                // }
                // }

            },
            methods: {
                test() {
                    return this.datalist.filter(item => item.includes(this.mytext))
                }
            }
            // methods: {
            //     handleInput() {
            //         console.log('input', this.mytext)
            //         this.datalist = this.originList.filter(item => item.includes(this.mytext))
            //         // console.log(newlist)1
            //     }
            // }
        })
        // Vue.createApp(obj).mount('#box')


        // var arr = ['111', '222', '333', '444', '555']
        // var newList = arr.filter(item => item.includes('22'))
        // console.log(newList, arr)
    </script>
</body>

</html>